{% extends 'mail/base.html' %}
{% block content %}
<div class="containertop">
       <center><h3>Lists of Available Emails </h3></center> 
    {% for mail in emails %}
    
    
        <ul>
            <li>{{mail.email}}
             <h6><a class="btn btn-primary" href="{% url 'mail:update' mail.pk %}">Edit</a>
                <a class="btn btn-danger" href="{% url 'mail:delete' mail.pk %}">Delete</a>
             </h6>
            </li>
        </ul>
         
         
   

    {% endfor %}
</div>
{% endblock %}